.adminButton {
  background: black;
  color: white;
  width: 100px;
  height: 50px;
  border: 2px solid white;
  border-radius: 0;
  &:hover {
    background: white;
    color: black;
    border: 2px solid black;
    box-shadow: none;
  }
}
.adminButtonGroup {
  display: flex;

}
